*{
    font-size: 1.5em;
    text-align: center;
}

header{
    height: 100px;
    border: 2px solid black;
    margin-bottom: 13px;
}

body{
    border: 2px solid black;
}

nav{
    border: 2px solid black;
    margin-bottom: 5px;
}

main{
    border: 2px solid black;
    display: inline-block;
    width: 20%;
}

aside{
    border: 2px solid black;
    float: left;
    width: 40%;
    margin-bottom: 13px;
}

footer{
    border: 2px solid black;
}