*{
    text-align: center;
    color: black;
    font-size: 1.34em;
}

header{
    font-size: 2.0em !important;
    margin-bottom: 5px;
    border: 1px solid black;
}

nav{
    margin-top:10px;
    border: 1px solid black;
}

.parent{
    display:flex;
}
.child{
    height:100vh;
    margin-top: 10px;
    width: 49.7%;
    border: 1px solid black;
}
#contentB{
    margin-left: 5px;
}

footer{
    margin-top:10px;
    border: 1px solid black;
}
body{
    background-color: turquoise;
}