*{
  text-align: center;
}

body{
  background-color: rgb(178, 202, 202);
}
header{
  font-size: 1.5em;
  height:20vh;
  border: 1px solid black;
  border-bottom: 0px;
}

nav{
  font-size: 1.5em;
  height:10vh;
  border: 1px solid black;
}

.parent{
  display:flex;
  height: 100vh;
  font-size:1.3em;
}

.child{
  width:50%;
  border: 1px solid black;
  border-top:0px;
}

#MainContent{
  border-right:0px;
}

.subParent{
  display:flex;
  flex-wrap: wrap;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 10px;
}

#Picture{
  border: 1px solid black;
  width: 40%;
  height:40vh;
  margin-right: 8px;
}

#AboutMe{
  border: 1px solid black;
  width:58%;
  height:40vh;
}

#RecentTweets{
  border: 1px solid black;
  width:100%;
  height:53.5vh;
  margin-top: 10px;
}

footer{
  font-size: 1.5em;
  border: 1px solid black;
  border-top: 0px;
}

